<div>
  <h3 class="welcome_title">
    Welcome to <span>Torus</span> App

    <p class="sub_welcome_title">SIMPLE. SECURE. SEAMLESS</p>
  </h3>

  <div class="home_content card_home">
    <div class="description">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting..
      </p>

    </div>

    <div class="content_image">
     <a> <img src="../assets/images/touch.jpg" /></a>
      <button class="touch_btn" (click)="setBuildEnvironment()">Touch the future</button>
    </div>
    <div class="clear"></div>
  </div>

</div>


<div class="bg"></div>
<!-- <div class="bg bg2"></div>
<div class="bg bg3"></div> -->
